<div class="gp-info">
    <div class="gp-name">
        <h2 i18n="HIS name">Some HIS name</h2>
    </div>
    <br>
    <br>
    <br>
    <div class="gp-info-details">
        <dl class="sidebarInfo">
            <dt i18n="Address" class="sidebarInfo__title address">Adres</dt>
            <dd i18n="Street" class="sidebarInfo__item street">Paasheuvelweg 25 </dd>
            <dd i18n="House" class="sidebarInfo__item zip">1105BP Amsterdam</dd>
            <dt i18n="Phone number" class="sidebarInfo__title phone">Telefoonnummer</dt>
            <dd i18n="" class="sidebarInfo__item phone">0206500100</dd>
            <dt class="sidebarInfo__title site"><a id="linkWebSiteUrl"
                   href="http://"
                   title="Ga naar http://"
                   target="_blank"
                   class="backLink"><span>Naar website</span></a></dt>
        </dl>
    </div>
</div>