<div class="main-page">
    <div class="logo-container">
    </div>
    <div class="main-text">
        <p>
            SkinVision is een veilige medische app voor het controleren van plekken op je huid. Met onze service kun je verdachte huidplekken zelf checken zodat je op tijd de juiste zorg kunt zoeken. Stuur je foto in ter beoordeling door ons algoritme, we vertellen je dan binnen 30 seconden of er een verhoogd risico is en adviseren je over eventuele vervolgstappen.
        </p>
        <p>
            Het SkinVision-algoritme is getraind op basis van honderdduizenden foto’s die klinisch gevalideerd zijn door dermatologen. Uit recente studies blijkt de service 95% sensitief in het herkennen van huidkanker.
        </p>
        <p>
            Door SkinVision te gebruiken, kun je:
        </p>
  
        <ul>
            <li>Verdachte moedervlekken makkelijk & snel controleren wanneer het jou uitkomt.</li>
            <li>Binnen 30 seconden weten of er een verhoogd risico is en indien nodig je resultaten delen met je dokter</li>
            <li>Je foto's opslaan in handige mappen om zelf veranderingen bij te houden</li>
        </ul>
  
        <iframe id="videoFrame" class="video-frame" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
        <p>
            Wereldwijd vertrouwen inmiddels bijna 1.2 miljoen gebruikers op SkinVision. Ben je verzekerd bij CZ, Just, OHRA of Nationale - Nederlanden? Dan kun je kosteloos SkinVision gebruiken via je zorgverzekering, je kunt dit aangeven bij het aanmaken van je SkinVision account.
        </p>
        <p>
            De checks en resultaten binnen SkinVision worden niet automatisch gedeeld met de huisarts. Je kunt de resultaten vanuit de SkinVision app naar je huisarts sturen.
        </p>
        <h2>Links</h2>
    </div>
  </div>